/*
#body-content {
*/
body {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #f0f3f6;

  #login {
    width: 610px;
    height: 610px;
    margin: 7% auto 0;
    background: #4f5f6f;
    border-radius: 50px;

    .loginBodyLogo {
      text-align: center;
      padding-top: 55px;
      padding-bottom: 20px;

      img {
        vertical-align: middle;
      }
    }

    .form_area {

      #login_form {

        .inputDiv {
          text-align: center;

          .login_input {
            width: 407px;
            height: 63px;
            margin-bottom: 22px;
            font-size: 25px;
          }

          .btn_small {
            width: 407px;
            height: 63px;
            margin-bottom: 25px;
            font-size: 25px;
            background: #063859;
            color: #FFFFFF;
          }
        }
      }
    }

    .loginLogo {
      text-align: center;
      marin-top: 5px;
    }
  }
}

@media all and (max-width: 768px) {
  body {
    background: #f0f3f6;

    #login {
      width: 310px;
      height: 390px;
      margin: 15% auto 0;
      border-radius: 30px;

      .loginBodyLogo {
        padding-top: 45px;

        img {
          width: 150px;
          height: 40px;

        }
      }

      .form_area {

        #login_form {

          .inputDiv {

            .login_input {
              width: 206px;
              height: 32px;
              margin-bottom: 12px;
              font-size: 20px;

            }

            .btn_small {
              width: 206px;
              height: 32px;
              margin-bottom: 12px;
              font-size: 17px;

            }
          }
        }
      }
    }
  }
}
