#header_area {
  z-index: 2;
  background-image: url("../../assets/images/layout/background.png");
  width: 100%;
  height: 60px;
  user-select: none;
  position: sticky;
  top: 0;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;

    .header_Logo_area {
      padding-left: 5px;
      #header_page_reload {
        display: flex;
        align-items: center;
        height: 100%;

        #header_img {
          cursor: pointer;
          padding: 5px;
          width: 100px;
        }
      }
    }

    .header_list_area {
      height: 100%;

      .menu_ul {
        margin: 0;
        height: 100%;
        padding: 0;

        .divider {
          width: 2px;
          height: 60px;
          background-image: url("../../assets/images/layout/divider.png");
          float: left;
          box-shadow: -1px 0px rgb(0, 0, 0, 35%);
        }

        li {
          float: left;
          color: #ffffff;
          display: inline;
          font-family: "NanumSquare", sans-serif;
          font-size: 20px;
          min-width: 120px;
          max-width: 158px;
          width: 150px;
          height: 100%;
          text-align: center;
          line-height: 60px;
          cursor: pointer;

        }

        .active {
          color: #ffcb00;
          background-size: 100% 100%;
          background-image: url("../../assets/images/layout/menu.png");
        }
      }
    }

    .header_right_area {
      display: flex;
      height: 100%;
      cursor: pointer;

      .box_button_area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px;
        width: 55px;
        height: 40px;
        float: right;
        background: #efeded;
        border: 1px solid #0086e5;

        .button_svg {
          padding: 3px;
          cursor: pointer;
          fill: rgb(40, 44, 45);
        }

        .alert_dot {
          fill: rgb(212, 76, 76);
          position: absolute;
          right: 90px;
          top: 26px;
        }
      }

      .header_alert_area {
        height: 380px;
        width: 250px;
        background: #f4f4f4;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 50px;
        right: 5px;
        z-index: 10;

        .alert_list {
          height: 45px;
          width: 100%;
          color: #f6f6f6;
          text-align: center;
          padding-top: 10px;
          background: #5c6f7e;
          border: 1px solid #d8efff;
          font-family: "NanumSquare", sans-serif;
        }
      }

      .header_user_control_area {
        height: 215px;
        width: 140px;
        top: 50px;
        right: 7px;
        float: right;
        background: #f4f4f4;
        position: absolute;
        border-radius: 5px;
        font-size: 18px;
        color: #666666;
        border: 1px solid #666666;
        padding: 5px 15px 5px 15px;
        font-family: "NanumSquare", sans-serif;
        z-index: 11;


        .click {
          cursor: pointer;
        }
        .modal {
          z-index: 100;
        }
        div {
          //border-bottom: 1px solid #666666;
          margin-top: 7px;
          height: 28px;
          margin-bottom: 5px;
          display: block;
          color: #666666;

          img {
            text-align: left;
            float: left;
            width: 24px;
            height: 24px;
          }
          p {
            text-align: center;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//반응형 헤더 1024px
@media all and (max-width:1024px){
  #header_area{
    .row {
      .header_Logo_area {
      }
      .header_list_area {
        .menu_ul {
          li {
          }
        }
      }
      .header_right_area {
        .box_button_area {
          #alert_dot {
          }
        }

        .header_user_control_area {
          .click {
          }
        }
      }
    }
  }
}

//반응형 헤더 768px
@media all and (max-width: 768px) {
  #header_area{
    .row {
      .header_Logo_area {
        display: none;
      }
      .header_list_area {
        width: 60%;

        .menu_ul {
          display: flex;
          width: 100%;

          li {
            width: 30%;
            min-width: 90px;
          }
        }
      }
      .header_right_area {
        display: flex;
        justify-content: center;
        align-items: center;

        .box_button_area {
          width: 45px;
          margin: 5px;

          #alert_dot {
            right: 64px;
          }
        }

        .header_user_control_area {
        }
      }
    }
  }
}

@media all and (hover: none) and (pointer: coarse) {
  #header_area{
    .row {
      .header_Logo_area {
      }
      .header_list_area {
        .menu_ul {
          li {
          }
        }
      }
      .header_right_area {
        .box_button_area {
          #alert_dot {
          }
        }
        .header_user_control_area {
          height: 75px;

          .click {
            display: none;
          }
        }
      }
    }
  }
}
