#body-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #114365;

  /**/
  #body-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 60px - 10px);
    min-height: 600px;
    margin: 5px 0px;
    align-items: center;

    #leftArea {
      width: 20%;
      height: 100%;
      margin: 5px;
      background: #5c6f7e;
      border: solid 1px #021f33;

      #equipmentListArea {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100% - 10px);
        font-family: "NanumSquare", sans-serif;
        margin: 5px;

        #HeaderArea {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 7%;
          min-height: 45px;
          font-size: 25px;
          background: #668b99;
          border: 1px solid #021f33;

          select {
            width: 80%;
            height: 70%;
            min-height: 20px;
            font-size: 1.2rem;
            border-radius: 10px;
            text-align: center;
            font-family: "NanumSquare", sans-serif;
            cursor: pointer;
            user-select: none;

            optgroup {
              text-align: left;
              font-size: 90%;
              color: #89898b;

              option {
                text-align: center;
                color: #3b3752;
              }
            }
          }
        }

        #sensorArea {
          display: flex;
          flex-flow: wrap;
          flex-direction: column;
          width: 100%;
          height: 43%;
          background: #668b99;
          margin: 5px 0px;
          border: 1px solid #021f33;

          .sensorData {
            display: flex;
            flex-basis: calc(50% - 6px);
            justify-content: center;
            flex-direction: row;
            background: #726e6e;
            border: 3px solid #f4f4f4;
          }
        }

        #windArea {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          height: calc(56% - 40px);
          background: #668b99;
          flex: 1;
          border: 1px solid #021f33;

          .wind_head_area,
          .wind_name_area {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 5px 0px;

            .wind_head_name_area,
            .wind_name_data_area {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50%;
              padding: 4px;
              border-radius: 10px;
              border: 2px solid #5c6f7e;
              font-size: 0.9rem;
              background: #f4f4f4;
            }
          }

          .wind_data_area {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;

            .wind_image {
              width: 80%;
              height: 100%;
              background: beige;
            }
          }
        }
      }
    }

    #rightArea {
      z-index: 0;
      margin-right: 5px;
      width: 79%;
      height: 100%;
      border: 1px solid #021f33;

      #map {
        width: 100%;
        height: 100%;
      }

      .button-group {
        margin: 10px 0px;
        display: none;

        button {
          margin: 0 3px;
        }
      }
    }
  }
  #footer {
    background-color: aliceblue;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
  }
}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 768px) {
  #body-wrapper {
    #body-content {
      flex-flow: column-reverse;

      #leftArea {
        width: 99%;
        height: 50%;
        margin: 5px 5px 0px 5px;

        #equipmentListArea {
          flex-direction: row;
          flex-flow: wrap;

          #HeaderArea {
            display: flex;
            top: 0px;
            width: 100%;
            min-width: 32px;
            height: 11%;
            min-height: 35px;
            z-index: 1;

            select {
              min-height: 26px;
            }
          }
          #sensorArea {
            width: 50%;
            min-width: 50%;
            height: 85%;
          }
          #windArea {
            width: 50%;
            height: 85%;
            justify-content: space-around;
            margin: 5px 0px;
            padding: 0px;

            .wind_data_area {
              height: 70%;
            }
          }
        }
      }
      #rightArea {
        width: 99%;
        height: 50%;
        margin-left: 5px;
      }
    }
  }
}
