#body-wrapper {
  height: 100%;
  background: #114365;
  overflow: auto;

  #staticPage {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);
    height: calc(100% - 60px - 10px);
    min-height: 865px;
    margin: 5px;

    .staticLeftArea {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 5px;
      width: 25%;
      height: 100%;
      min-width: 200px;

      #staticequipSelect {
        z-index: 3;
        margin: 6px;
        padding: 4px;
        position: absolute;
        width: 60%;
        cursor: pointer;

        .inlineMapSelectList {
          width: 100%;
          min-height: 40px;
          position: relative;
          font-size: 1rem;
          text-align: center;
          border-radius: 15px;
          font-family: "NanumSquare", sans-serif;

          option {

          }

          optgroup {
            text-align: left;
            option {
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }

      #staticMap {
        width: 100%;
        height: 100%;
      }
    }

    #staticCenterArea {
      display: flex;
      flex-direction: column;
      width: 735px;
      background: #5c6f7e;
      padding: 0px 3px 0px 3px;
      flex: 1;

      #selectDateArea {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;
        font-family: 'NanumSquare', sans-serif;

        .sort_front_area {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .dataLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            min-width: 100px;
            height: 30px;
            margin-right: 10px;
            color: #ffffff;
            background-image: url("../../assets/images/layout/button.png");
            box-shadow: inset 1px 1px 1px rgb(0, 0, 0, 16%);
            user-select: none;
          }

          .mdrp-root {
            .mdrp__activator {

              .activator-wrapper {
                padding: 0px;
                .bar {
                  width: 306px;
                }

                .text-field {
                  border: inset;
                  text-align: center;
                  padding: 0px;
                  height: 20px;
                  cursor: pointer;
                }

                label {
                  display: none;
                }

              }
            }
          }

          .periodType {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            height: 30px;
            margin: 0px 10px;
            min-width: 100px;
            color: #FFFFFF;
            text-align: center;
            background-image: url("../../assets/images/layout/button.png");
            user-select: none;
          }

          .selectPeriodData {
            flex: 1;
            padding: 0px 10px;
            height: 30px;
            font-weight: bold;
            text-align: center;
            font-family: "NanumSquare", sans-serif;
            cursor: pointer;
            border-radius: 5px;
          }

          .selectPeriodArea {
            margin-right: 10px;
          }

          .sensor_check_area {
            display: flex;

            .sensor_checkbox {
              align-items: center;
              display: flex;

              .checkboxDiv {

                .checkbox {
                  float: left;
                }

                .checkLabel {
                  float: left;
                }
              }
            }
          }
        }

        .sort_back_area {

          .alarmButton {
            float: right;
            width: 120px;
            height: 30px;
            cursor: pointer;
            font-size: 15px;
            margin-left: 5px;
            font-family: "NanumSquare", sans-serif;
            background-image: url("../../assets/images/layout/new_Box_Img_Select.gif");

            &:hover {
              background-image: url("../../assets/images/layout/new_Box_Img.png");

            }
          }

          .toggled {
            background-image: url("../../assets/images/layout/new_Box_Img.png") !important;
          }
        }
      }

      #showGraphArea {
        width: 100%;

        #datatable_filter {

          label {

            input {
              background: #fff;
            }
          }
        }

        .ContentsBodyGraph {
          font-family: "NanumSquare", sans-serif !important;
          margin-bottom: 31px;

          #datatable_wrapper {
            padding-top: 5px;
            .dt-buttons {
              float: left;

              .dt-button {
                height: 30px;
                line-height: 1rem;
                background: #f1f1f1;
                font-family: 'NanumSquare';
              }
            }
            #datatable_filter {
              padding-bottom: 5px;
            }

            .dataTables_scroll {
              .dataTables_scrollHead {
                .dataTables_scrollHeadInner {
                  .commonTable.dataTable.no-footer {
                    thead {
                      tr {
                        .title {
                          border: 1px solid #000000;
                          background-image: linear-gradient(to top, rgba(59, 97, 116, 0.65) 27%, rgba(82, 121, 138, 0.65) 84%, rgba(134, 175, 193, 0.65));
                          border-left-color: rgba(216, 216, 216, 0.18);
                        }
                        .subTitle {
                          border: 1px solid #000000;
                          box-shadow: inset 0px 6px 0px 1px rgb(28, 45, 57, 70%);
                          background-image: linear-gradient(to top, rgba(47, 83, 108, 1), rgba(39, 70, 92, 1));
                          border-left-color: rgba(216, 216, 216, 0.18);
                        }
                        th {
                          border: 1px solid #000000;
                          font-weight: bold;
                          color: #ffffff;
                          text-align: center;
                          padding: 3px;
                          font-size: 18px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .dataTables_paginate {
              .paging_simple_numbers {
                .paginate_button {
                  cursor: pointer;
                }
              }
            }
          }

          #datatable {
            text-align: center;

            thead {

              tr {

                .sorting {
                  background-image: url('http://cdn.datatables.net/1.10.1/images/sort_both.png'), linear-gradient(to top, rgba(56, 100, 122, 0.65) 27%, rgba(88, 130, 151, 0.65) 85%, rgba(153, 199, 219, 0.65));
                  background-position: center right, left top;
                  background-repeat: no-repeat, no-repeat;
                }

                .sorting_asc {
                  background-image: url('http://cdn.datatables.net/1.10.1/images/sort_asc.png'), linear-gradient(to top, rgba(56, 100, 122, 0.65) 27%, rgba(88, 130, 151, 0.65) 85%, rgba(153, 199, 219, 0.65));
                  background-position: center right, left top;
                  background-repeat: no-repeat, no-repeat;
                }

                .sorting_desc {
                  background-image: url('http://cdn.datatables.net/1.10.1/images/sort_desc.png'), linear-gradient(to top, rgba(56, 100, 122, 0.65) 27%, rgba(88, 130, 151, 0.65) 85%, rgba(153, 199, 219, 0.65));
                  background-position: center right, left top;
                  background-repeat: no-repeat, no-repeat;
                }


                .title {
                  border: 1px solid #000000;
                  background-image: linear-gradient(to top, rgba(59, 97, 116, 0.65) 27%, rgba(82, 121, 138, 0.65) 84%, rgba(134, 175, 193, 0.65));
                  border-left-color: rgba(216, 216, 216, 0.18);
                }

                .subTitle {
                  border: 1px solid #000000;
                  box-shadow: inset 0px 6px 0px 1px rgb(28, 45, 57, 70%);
                  background-image: linear-gradient(to top, rgba(47, 83, 108, 1), rgba(39, 70, 92, 1));
                  border-left-color: rgba(216, 216, 216, 0.18);
                }

                th {
                  border: 1px solid #000000;
                  font-weight: bold;
                  color: #ffffff;
                  text-align: center;
                  padding: 3px;
                  font-size: 18px;
                }
              }
            }

            tbody {
              background-image: linear-gradient(to top, #1b2d38 41%, #121413);
              background-attachment: fixed;
              background-repeat: no-repeat;
              color: #FFFFFF;
              font-size: 13px;
              td {
                padding: 10px 10px;
              }
              .odd {
                background: transparent;
              }

              .even {
                background: rgba(255, 255, 255, 0.1);
              }
            }
          }

          .dataTables_info {
            font-size: 15px;
            color: #FFFFFF;
          }

          #datatable_paginate {
            font-size: 15px;

            a {
              color: #FFFFFF !important;

            }

            span {
              font-family: 'NanumSquare', sans-serif !important;

              .paginate_active {
                background: #313a44 !important;
              }

              .current {
                background: linear-gradient(to bottom, #546673, #2a363e 71%);
                //box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.18), 0px 3.5px 0px 0px rgba(14, 14, 14, 1);
                //width: 26px;
                //height: 26px;
                //margin-right: 6px;
                //font-size: 14px;
                //padding: unset;
                //padding-top: 3px;
              }
            }
          }
        }
      }

      .showChartArea {
        width: 100%;
        height: 310px;
        margin-top: auto;
        background-image: linear-gradient(320deg, #1a4361, #001c30);

        #chartStaticBar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 1385px) {
  #body-wrapper {

    #staticPage {
      flex-flow: wrap;
      height: auto;

      .staticLeftArea {
        width: 25%;
        height: auto;
      }
      #staticCenterArea {
        width: 50%;
        #showGraphArea {
          overflow: auto;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  #body-wrapper {
    #staticPage {
      .staticLeftArea {
      }
      #staticCenterArea {
        #selectDateArea {
          align-items: center;
          height: 70px;

          .sort_front_area {
            flex-flow: unset;
            align-items: flex-start;
            flex-wrap: wrap !important;

            .front_area_periodType {
              .periodType {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  #body-wrapper {
    #staticPage {
      flex-flow: column;

      .staticLeftArea{
        width: 100%;
        height: 450px;
      }
      #staticCenterArea{
        width: 100%;
      }
    }
  }
}
