@font-face {
  font-family: 'NanumGothic', sans-serif;
  src: url("~@/assets/fonts/NanumGothic.eot") format("embedded-opentype"), url("~@/assets/fonts/NanumGothic.woff") format("woff"), url("~@/assets/fonts/NanumGothic.ttf") format("truetype");
  font-style: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothicB', sans-serif;
  src: url("~@/assets/fonts/NanumGothic-Bold.eot") format("embedded-opentype"), url("~@/assets/fonts/NanumGothic-Bold.woff") format("woff"), url("~@/assets/fonts/NanumGothic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothicEB', sans-serif;
  src: url("~@/assets/fonts/NanumGothic-ExtraBold.eot") format("embedded-opentype"), url("~@/assets/fonts/NanumGothic-ExtraBold.woff") format("woff"), url("~@/assets/fonts/NanumGothic-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url("~@/assets/fonts/NanumSquareB.woff") format("woff"), url("~@/assets/fonts/NanumSquareB.eot") format("embedded-opentype"), url("~@/assets/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareL';
  src: url("~@/assets/fonts/NanumSquareL.woff") format("woff"), url("~@/assets/fonts/NanumSquareL.eot") format("embedded-opentype"), url("~@/assets/fonts/NanumSquareL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
